
:root{
   --main-color:#10cab7;
   --secendary-color:#f18d9e;
   --bcont-color:#ebeced;
}


*{
    font-family: 'Work Sans', sans-serif;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
::selection{
   background-color: var(--main-color);
   color: var(--bcont-color);
}
.container
{
    padding-left:15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right:auto;

} 
html{
    scroll-behavior: smooth;
}
@media (max-width:767px) {
    .special-heading { font-size:50px}
    .special-heading+p{margin-top: -20px;}
    .services .serv{ flex-direction: column;
             text-align: center;     }
}
@media (min-width:768px)
{
 .container{ width: 750px;}
}

@media (min-width:992px)
{
 .container{width:  970px}
 
 }


@media (min-width:1200px)
{
 .container{ width: 1175px;}
}
/* s hesder css */
.header{
    padding:20px;
}
.header .container
{
    display:flex;
    justify-content:space-between;
   align-items:center;
}
.header .logo
{
    width:60px;
}
.header .links
{
    position: relative;
}
.header .links:hover .icon span:nth-child(2)
{
 width:100%;
 
}
.header .links:hover ul{display: block;}
.header .icon
{
    width:30px;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    margin-bottom: 10px;
}
.header .icon span{
    background:#555;
    height:3px;
    margin-bottom: 5px;
    width:100%;

}
.header .icon span:nth-child(2){
    width:60%;
    background:var(--main-color);
    transition: 0.3s
}
.header ul{
 list-style:none;
 text-decoration: none;
 margin:0;
 padding:0;
 background: var(--bcont-color);
 position:absolute;
 right:0;
 min-width:200px;
 top:calc(100%+10px);
 z-index: 1;
 display:none;
 
}
.header ul::before{
    content:'';
    width:5px;
    border:10px solid;
    border-color:  transparent transparent var(--main-color) transparent;
    position:absolute;
    right:5px;
    top:-20px;
} 
.header .links ul li a
{
     display:block;
     padding:10px;
     text-decoration: none;
     color:#333;
     transition: .3s;

}
.header .links ul li a:hover
{
    padding-left:20px;
}
.header .links ul li:not(:last-child)
{
    border-bottom: 1px solid var(--main-color);
}
/* end hder css */

/* strt landing  */
.landing
{
    background-image: url(/temp1/imgs/m2.jpg);
    background-size: cover;
    height: calc(100vh - 74px);
    position:relative;
  
}
.landing .intro-text{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:320px;
    max-width:100%;
}
.landing h1{
    margin: 0;
    font-weight:800;
    text-shadow: 2px 2px #5c848c;
    color:var(--main-color);
    text-align: center;
    font-size:50px;
    letter-spacing: 1px;
}
.landing p{
    line-height:1.8;
    font-size: 20px;
    color: #212121;
}
/* end landing */
/* strt feTur */
.features {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color:var(--bcont-color);
}
.features .container
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:20px;
    
}
.features .feat{
  padding:20px;
  text-align:center;

}
.features .feat i
{
 color:var(--main-color)

}
.features .feat h3{
    font-weight: 800;
    margin:30px 0;
}
.features .feat p
{
 line-height: 1.8;
 font: size 18px;
 color:#888
}
.features .feat p::before{
    content:'';
    width:5px;
    border:1px solid;
    color: var(--main-color)
}
/* end feture  */
/* strt srvesc */
.special-heading{
    color:#d9e3e8;
    font-size :100px;
    letter-spacing: -4px;
    text-align:center;
    font-weight:800;
    margin:0 ;
}
.special-heading+p{
    margin:-30px 0 0;
    font-size: 20px;
    text-align: center;
    color:#797979
}
.services .srvices-content
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:30px;
   margin-top:100px; 
}
.services .serv{
   display:flex;
   margin-bottom:40px;
}
.services .serv i{
    color:var(--main-color);
    flex-basis: 60px;
}

.services .text{
    flex:1;
}
.services .text h3{
    margin:0 0 20px;
}
.services .text p{
    color:#797979;
    font-weight: 300;
    line-height: 1.6;
}
.services .col img{
   
      height:200px;;
      width:260px;
}
  .services .col .image{
     text-align: center;
     position: relative;
 }
 .services .col .image::before{
    content: '';
    background-color:var(--secendary-color);
    width: 80px;
    height: 240px;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: -1;
 }
 @media(max-width:1199px)
 {
    .services .col .image{ display:none}
 }
 
/* end servss */
/* strt portfoloi */
.portfolio{
    
   padding-top: 60px;
   padding-bottom: 60px;
   background-color:var(--bcont-color);
}
.portfolio .portfolio-content
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:30px;
    margin-top: 80px;
}
.portfolio  .card{
    background:white;

}
.portfolio  .card img{
    max-width: 100%;
}
.portfolio  .card .info
{
    padding:20px;
}
.portfolio  .card h3{
    margin:0;
}
.portfolio  .card p{
    color:#777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* end portfolio */
/* strt about */
 .about
 {
     padding-top: 60px;
     padding-bottom: 120px;
 }
 .about-content{
     margin-top: 100px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }  
 @media (max-width:991px){
    .about-content{
        flex-direction: column;
        text-align: center;
     }
     .about-content .image{
         margin: 0 auto 60px
     }
     
 .about-content .image::before{
     display: none;
 }
 }
 .about-content .image{
     position: relative;
     width:323px;
     height:273px;
 }
 .about-content .image::before{
    content: '';
    background-color:var(--secendary-color);
    position: absolute;
    width: 80px;
    height: calc(100% + 1px);
    top: -25px;
    left: -20px;
    z-index: -1;
 } 
 .about-content .image::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 152px;
    border-left: 81px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
    right: -100px;
    top: -31px;
 }
 .about-content .image img{
     max-width: 100%;
 }
 .about-content .text{
     flex-basis: calc(100% - 500px);
 }
 
 .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
 }
 
 .about-content .text hr {
    width:50%;
    border-color:var(--main-color);
    display: inline-block;
 }
 
 .about-content .text p:last-of-type{
 line-height: 1.8;
 color:#777;
 }
/* end about */
/* strt contct */
.contact{
       
   padding-top: 60px;
   padding-bottom: 60px;
   background-color:var(--bcont-color);
}
.contact .info{
    
   padding-top: 60px;
   padding-bottom: 60px;
   text-align:center;
}
.contact .info .label
{
    font-size:35px;
    font-weight:800;
    color:var(--secendary-color);
    margin-bottom: 15px;
    

}
.contact .info .link{
    display:block;
    color:var(--main-color);
    font-size:35px;
    font-weight:800;
    text-decoration: none;
}
.contact .info .social{
    display:flex;
    justify-content:center;
    margin-top:15px;
    font-size:16px;
}
.contact .info i{
    margin-left: 10px;
    color:var(--secendary-color)
}
@media (max-width:767px){
    .contact .info .label,    
  .contact .info .link{font-size:25px}
}
/* ftr  */
.footer{
    background: var(--secendary-color);
    color:#fff;
    padding:20px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}









/* end cntct  */